.odd {
    background-color: pink;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}
#IDone {
    color: blue;
    font-size: 36px;
}

.todd {
    font-size: 24px;
}

#IDtwo {
    background-color: lightgreen;
    font-size: 24px;
    font-style: bold;

}



